# Exercise 1

In [1]:
amount = 1000
interest_rate = 0.1

final_amount = 0

Use the base amount and interest rate to calculate the final amount after compound interest over 5 years.

In [2]:
# Do your calculations here
# ...

In [3]:
print('The final amoutn is ', final_amount)

The final amoutn is  0

# Exercise 2

Calculate how many years you need to obtain a certain amount (e.g. 2000) by starting with an initial amount (e.g. 1000) for a given interest rate (e.g. 2%)

In [4]:
amount = 1000
target = 2000
interest_rate = 0.02

number_of_years = 0

In [5]:
# Do your calculations here
# ...

In [6]:
print('The number of years needed is ', number_of_years)

The number of years needed is  0

# Exercise 3

Remove the duplicates from this list:

In [7]:
name_list = ["Johannes", "Jamal", "Jamal", "Johannes", "Galina"]

In [8]:
# Enter your code here
# ...

Check the output:

In [9]:
print(name_list)

['Johannes', 'Jamal', 'Jamal', 'Johannes', 'Galina']

# Exercise 4

Make a list of all the 4th and 6th letters of a word:

In [10]:
words = ["Johannes", "Jamal", "Jamal", "Johannes", "Galina"]
new_list = []

In [11]:
# Enter your code here
# ...

In [12]:
print(new_list)

[]

# Exercise 5

Create a list of temperatures in Fahrenheit from another list measured in Celsius using comprehensions:

In [13]:
celsius = [15, 18, 32, 19]

# Fill in the right comprehension
fahrenheit = []

Check the output:

In [14]:
print(fahrenheit)

[]

# Exercise 6

Calculate how many years you need to obtain a certain amount by starting with an initial amount for a given interest rate

In [15]:
amounts = [1000,1200,1300]
target = 2000
interest_rates = [0.02,0.05,0.1]

You can use your previous code from exercise 2 and reuse it in a function:

In [16]:
# Define function
# ...

In [17]:
# Loop over amounts and interest rates and call function
# Print an informative line of code
# ...

# Exercise 7

Calculate the number of ECTS taught by every member in the dictionary

In [18]:
courses = {"Johannes" : "Web Analytics", "Jamal" : "DEA", "Maurizio" : "Simulation"}
ects = {"Web Analytics": 15, "DEA": 15, "Simulation":15}

In [19]:
# Enter your code here
# ...

# Exercise 8

Find the most common letter at the third place in a word:

In [20]:
words = ["Johannes", "Jamal", "Jamal", "Adme", "Galina"]

In [21]:
# Enter your code here
# ...

# Exercise 9

In this exercise we are going to build a decision tree using scikit-learn and pandas. Code some stuff yourself, or find the available modules that can do it for you:

In [23]:
import pandas as pd
import numpy as np

# Read csv with pandas, index indicates whether the first column is an index
data = pd.read_csv("data/attrition.csv", index_col=0)

print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
1   41       Yes      Travel_Rarely       1102                   Sales
2   49        No  Travel_Frequently        279  Research & Development
3   37       Yes      Travel_Rarely       1373  Research & Development
4   33        No  Travel_Frequently       1392  Research & Development
5   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
1                 1          2  Life Sciences              1               1
2                 8          1  Life Sciences              1               2
3                 2          2          Other              1               4
4                 3          4  Life Sciences              1               5
5                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
1  ...                         1            80                 0
2  ...                         4            80                 1
3  ...                         2            80                 0
4  ...                         3            80                 0
5  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
1                  8                      0               1               6
2                 10                      3               3              10
3                  7                      3               3               0
4                  8                      3               3               8
5                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
1                  4                        0                     5
2                  7                        1                     7
3                  0                        0                     0
4                  7                        3                     0
5                  2                        2                     2

[5 rows x 35 columns]

Attrition is our label, so we can split our data into X and y:

In [24]:
y = data['Attrition']
X = data.drop('Attrition', axis=1)

Write the pre-processing functions:

In [26]:
# Create training and test set with function
# def splitDataset(X, y ratio):
# ...

In [27]:
# Convert all attributes in data dataframe
# def convertAttribute(column):
# ...

The pre-processsing:

In [28]:
# # convert all attributes at once      
# for column in X.columns:
#     X[column] = convertAttribute(X[column])

# y = convertAttribute(y)

# # Use our new function to split according to a certain ratio
# train_X, test_X, train_y, test_y = splitDataset(X, y, 0.7)

Build decision tree and calculate accuracy:

In [ ]:
# # Build tree
# #tree = ...
# tree.fit(train_X, train_y)

# ## Use tree for prediction
# y_pred = tree.predict(test_X)

# #accuracy = ...
# print(accuracy)